nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgb(255, 0, 0);
    border-color: #E7E7E7;
}
a#nav_title.navbar-brand {
    font-family: 'Dosis', sans-serif;
    color: white;
    font-size: 30px;
    padding: 0 10px;
    border: 1px solid white;
}
.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input{ 
    width: 75%;
}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.list-group-item{
    cursor: pointer;
}

.list-group-item:hover {
    background-color: rgb(255, 0, 0);
    color: white;
}

/* font-family: 'Dosis', sans-serif; */
/* font-family: 'Raleway', sans-serif; */



input#search_input{
    margin-top: 10px;
}


h5#search_title,
#detail_descrip,
#title_sub {
    font-family: 'Raleway', sans-serif;
}

span#search_input_title {
    font-family: 'Raleway', sans-serif;
}

h5#detail_result_title{
    font-family: 'Raleway', sans-serif;
    margin-left: 14px;
}

#detail_title {
    font-weight: bold;
    font-size: 20px;
}

#detail_descrip{
    font-size: 17px;
}